.Team-main-div{
	background-color: white;
	width: 99%;
	height:auto;
	padding:10px;
	box-sizing: border-box;
	border-bottom : 1px solid #E6EAED ;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}
.team-header{
	margin: 0px;
	align-items: flex-start;
	text-align: left;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: 600;
	color:#3D424C;
}
.team-footer{
	width: 100%;
	min-height:61px;
	max-height: 65px;
	display: flex;
	flex-direction: row;
	overflow-x:scroll;

}
.team-footer::-webkit-scrollbar {
  width: 0px;
  display:none; 
}
.team-children{
	width:50px;
	height:48px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 8px;
	align-items: center;

}
.team-image{
	height:100%;
	width:100%;
	border-radius: 50%;
	object-fit: cover;
}
.team-name{
	max-width:30px;
	overflow: hidden;
	font-size: 10px;
	font-family: sans-serif;
	margin: 0px;
	font-weight: 600;
	color: #66696B;
	margin-left:0px;
  	text-align: center;
}
.team-image-container{
	width : 33px;
	height:33px;
	margin: 0px;
}

.team-image-div{
	width: 100%;
	display:flex;
	flex-direction:row-reverse;
	overflow: hidden;
	margin: 0px;
	position: relative;
	text-align:  center;
	align-items: center;
	justify-content: inline;
	overflow: hidden;

}
.team-new{
	width: 7px;
	height:7px;
	border-radius: 50%;
	background: #346164;
	display:flex-end;
	align-self:flex-end;
	margin: 0px;
	position:absolute;
}